body
{
    font-family: 'Cairo', sans-serif;
}
.navbar-nav
{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 70%;
}


.icons
{ 
    /* background-color: blue; */
    margin-left: auto;
    /* width: 25%; */
    display: flex;
    justify-content: space-between;

}

/* header start  */
.home-1
{
    background-image: url(../images/new/1.png);
    background-size: 100%;
    background-position: center;

}
.home-2
{
    background-image: url(../images/post-1.jpg);
    background-size: 100%;
    background-position: center;

}

.home-3
{
    background-image: url(../images/new/1.png);
    background-size: 100%;
    background-position: center;

}

.home-4
{
    background-image: url(../images/post-3.jpg);
    background-size: 100%;
    background-position: center;

}
.caption
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-indicators li
{    width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 10px;

}
/* header end */

/* start images */
.caption-1
{
    z-index: 10;
    position: absolute;
    bottom: 40px;
    right: 100px;
    font-size: x-large;
    font-weight: bolder;
}

.caption-2
{
    z-index: 10;
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-size: x-large;
    font-weight: bolder;
}
.caption-3
{
    z-index: 10;
    position: absolute;
    top: 40px;
    left: 80px;
    font-size: x-large;
    font-weight: bolder;
}
/* end images */

/* start the best */
.title h2
{
    font-family: Cairo;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 94px;
    color: #111111;
}
.the-best .text
{
    font-family: Cairo;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: center;


}

.title i
{
    left: 450px;
    position: absolute;
    top: 27px;
    font-size: x-large;
}
/* end the best */


/* start sign-in */
.line
{
    width: 100%;
    height: 2px;
    background-color:gray;
}
.vertical {
    border-left: 2px solid gray;
    height: 200px;
    position:absolute;
    left: 50%;
    /* top: 20px; */
}

.signIn h6
{
    font-size: larger;
    font-weight: bolder;
}

.signIn .input-group i
{ 
    color: darkgray;
    margin: 20px 10px 1px 3px;
}
/* end sign-in */

/* start signUp  */
.signUp h6
{
    font-size: larger;
    font-weight: bolder;
}
/* end signUp */
/* start create-acc */
.createAcc h6
{
    font-size: larger;
    font-weight: bolder;
}
.create-acc .input-group i
{ 
    color: darkgray;
    margin: 20px 10px 1px 3px;
}
.createAcc .cheak
{
    display: flex;
}
.createAcc .done
{
    display: flex;
}
/* end sign-in */

/* start header */

.caption .shop
{
    position: absolute;
    top: 340px;
    left: 100px;
    text-decoration: underline;
    color: white;
}
.input-group
{
    background-color: transparent;
    border-bottom: white;
}

.icons-so
{ 
    /* background-color: blue; */
    margin-left: auto;
    /* width: 25%; */
    display: flex;
    justify-content:space-around;

}
/* end header */

/* start modern */
.owl-carousel img
{
    transition: all 1s;

}
.owl-carousel img:hover
{
    /* z-index: 10;
    position: absolute;
    top: 10px;
    bottom: 20px; */
    transform: scale(1.5); 
}

/* end  modern */


/* start the-best */
/* .the-best .image
{
    background-image: url(../images/new/9.png);
    background-size: cover;
    background-position: center center;

} */


/* start the-best */
/* start footer */
header .ico-1 i
{
    position: absolute;
    right: -4px;
    top: 62px;

}
header .ico-2 i
{
    position: absolute;
    right: -4px;
    top: 62px;

}
.email .form-control
{
    background-color: transparent !important;
    border: none;
}

/* end footer */


/* start about */
.about
{
    height: 50vh;
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(../images/new/27.png);
     background-position: center;
     background-size: cover;
}
.about .all
{

font-family: Cairo;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 196.4%;
text-align: center;
color: white;
}
.about .text
{
    font-family: Cairo;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0em;
text-align: left;

}


/* end about */
